    <div class="col-lg-offset-3 col-lg-6 text-center loginscreen  animated fadeInDown">
        <div>
            <div style="padding-top: 70px">

                <h3 class="logo-name">Neulpum</h1>

            </div>
            <h3 style="margin-top: 50px;">지기 등록</h3>
            <p>
                신입지기를 등록해주세요
            </p>
            <form class="m-t form-horizontal" role="form" action="/employees/employee_update/<%= @employee.id %>" enctype="multipart/form-data" method="GET">
                <div class="form-group">
                    <label class="col-md-2 control-label">학번 : </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="<%= @employee.student_number %>" name="student_number" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">이름 : </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="<%= @employee.employee_name %>" name="employee_name" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">전화번호 : </label>
                    <div class="col-md-10">
                        <input type="tel" class="form-control" value="<%= @employee.employee_phone %>" name="employee_phone" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">이메일 : </label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" value="<%= @employee.employee_email %>" name="employee_email" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">생년월일 : </label>
                    <div class="col-md-10">
                        <input type="date" class="form-control" name="employee_birth" required="" value = "<%= @employee.employee_birth %>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">기수 : </label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" value="<%= @employee.cardinal_number %>" name="cardinal_number" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">이미지주소 : </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="<%= @employee.image_url %>" name="image_url" required="">
                    </div>
                    <small>************** 이미지 등록방법!!! *************</small><br>
                    <small>1. 드롭박스에서 해당 지기의 사진 url을 복사한다</small><br>
                    <small>2. 복사된 url에서 https://www.dropbox.com 를 제거한다</small><br>
                    <small>3. 잘라내고 남은부분 앞에 https://dl.dropboxusercontent.com 로 대체한다</small><br>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">등록</button>
            </form>
            <!-- <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p> -->
        </div>
    </div>