<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <% if @user.nil? %>
                    <a class="navbar-brand" href="<%= url_for :controller => 'pages', :action => 'login_2' %>"> 로그인</a>
                <% else %>
                    <a class="navbar-brand" href="<%= url_for :controller => 'users', :action => 'logout' %>"> 로그아웃</a>
                <% end %>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#page-top">Home</a></li>
                    <li><a class="page-scroll" href="#information">MyInfo</a></li>
                    <li><a class="page-scroll" href="#introduce">Introduce</a></li>
                    <li><a class="page-scroll" href="#team">Team</a></li>
                    <li><a class="page-scroll" href="#timeline">History</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                    <% if @user.nil? %>
                    <% elsif @user.admin %>
                        <li><a class="page-scroll" href="<%= url_for :controller => 'orders', :action => 'order_open' %>">관리자페이지</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="carousel-caption">
                <h1>안녕하세요, <br/>
                    우리는 늘품입니다<br/>
                    우리는 이제 시작입니다</h1>
                <p> 늘품은 여러분과 함께합니다 </p>
                    <!-- <a class="btn btn-lg btn-primary" href="#" role="button">늘품 회원가입</a> -->
                    <!-- <a class="caption-link" href="#" role="button">Inspinia Theme</a> -->
            </div>
            <!--  <div class="carousel-image wow zoomIn">
                <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
            </div> -->
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one animated fadeInLeft"></div>

    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>We create meaningful <br/> interfaces that inspire.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">늘품 지원하기</a></p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two animated fadeInRight"></div>
    </div>
</div>
<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>


<!-- <section id="features" class="container services">
<div class="row">
    <div class="col-sm-3">
        <h2>Full responsive</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>LESS/SASS Files</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>6 Charts Library</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>Advanced Forms</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
</div>
</section> -->

<!-- 내정보 (my information) section -->
<section id="information" class="container features">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>내 정보</h1>
        <p>고객님의 늘품 이용 현황입니다</p>
    </div>
</div>
<% if @user.nil? %>
    <div class="col-lg-12">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    로그인해주세요
                </h2>
            </div>
            <img src="<%= image_path('a4.jpg') %>" class="img-circle circle-border m-b-md" alt="profile">
            <div>
                <span>로그인하시면 고객님의 늘품 이용내역을 <br>한 눈에 확인하실 수 있습니다</span><br>
            </div>
            <div style="margin-top:15px">
                <a class="btn btn-warning btn-rounded" href="/pages/login_2">로그인하러가기</a>
            </div> 
        </div>
    </div>
<% else %>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                            <span class="pull-right text-right">
                                <small>가장 많이 주문한 음료: <strong>아메리카노</strong></small>
                                <br />
                                총 구매액 : 160,500원
                            </span>
                        <h1 class="m-b-xs">적립금 : 500원</h1>
                        <small>Visiting neoulpum</small>
                    </div>

                    <div>
                        <canvas id="lineChart" height="70"></canvas>
                    </div>

                    <div class="m-t-md">
                        <h5> <span class="navy">총 쿠폰 갯수 : </span> 0개 </h5>
                        <h5> <span class="navy">사용한 쿠폰 : </span> 0개 </h5>
                        <h4> <span class="navy">사용 가능한 쿠폰 : </span> 0개 </h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
<% end %>
</section>

<!-- 늘품소개 section -->
<section id="introduce" class="container features">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>늘품 파헤치기</h1>
        <p>커피교육, 경영회의, 카페탐방등 다양한 활동과함께 늘품은 성장하고 있습니다 </p>
    </div>
</div>
<div class="row features-block">
    <div class="col-lg-6 text-right wow fadeInRight">
        <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-left">
    </div>
    <div class="col-lg-6 features-text wow fadeInLeft">
        <span class="navy">커피교육</span>
        <h2>To be a Barista </h2>
        <p>늘품은 매주 다양한 주제를 가지고 스터디를 진행합니다. 커피의 역사, 원두등 다양한 지식을 습득하며 커피에 대한 애정을 키워가고 있습니다. 커피를 추출하는 현장 교육은 기본이고, 바리스타 자격증 지원금도 제공하여 늘품 커피의 맛을 향상시키기 위해 많은 노력을 기울이고 있습니다.</p>
        <!-- <a href="" class="btn btn-primary">Learn more</a> -->
    </div>
</div>
<div class="navy-line-long"></div>
<div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInRight">
        <span class="navy">데이터분석</span>
        <h2>For the growth </h2>
        <p>매출의 변화, 원가의 변화에 영향을 끼치는 주요 변수들을 찾기 위해 공부합니다. 의미있는 결과는 현장에 바로 적용하여 고객들에게 전달되고, 피드백 받는 과정을 통해 늘품은 한층 더 성장합니다. 그 속에서 지기들 또한 수업때 배우지 못한 다양한 지식들을 습득하며 성장하는 것을 추구합니다.</p>
        <!-- <a href="" class="btn btn-primary">Learn more</a> -->
    </div>
    <div class="col-lg-6 text-right wow fadeInLeft">
        <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
    </div>
</div>
<div class="navy-line-long"></div>
<div class="row features-block">
    <div class="col-lg-6 text-right wow fadeInRight">
        <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-left">
    </div>
    <div class="col-lg-6 features-text wow fadeInLeft">
        <span class="navy">잊지 못할 추억</span>
        <h2>Make your campus-life best!! </h2>
        <p>늘품은 여러분들에게 잊지못할 추억의 공간이 될 것입니다. 지기들은 늘품에서 만난 친구들을 추억하게 될 것이고, 고객이 되는 학생들은 대학생활 낭만의 공간으로 남게될 것입니다. 끊임없는 열정을 공유한 지기들은 끈끈한 결속력으로 홈커밍데이를 통해 매년 만나고 있습니다. 즐거운 변화에 동참하시고 싶은 모든분에게 늘품은 열려있습니다. 반갑습니다, 여기는 늘품입니다.</p>
        <!-- <a href="" class="btn btn-primary">Learn more</a> -->
    </div>
</div>
</section>

<section id="team" class="gray-section team">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>늘품 지기들</h1>
            <p>20여명의 열정적인 학생들이 늘품을 만들어가고 있습니다</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar3.jpg') %>" class="img-responsive img-circle" alt="">
                <h4><span class="navy">사장  </span>이다희 (외식경영학과 14)</h4>
                <p>지기들의 성장과 고객의 만족, 두마리 토끼를 잡는 것이 올해 목표입니다.<br> 부족하더라도 늘품 많이 사랑해주세요~!!</p>
                <!-- <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="team-member wow zoomIn">
                <img src="<%= image_path('landing/avatar1.jpg') %>" class="img-responsive img-circle" alt="">
                <h4><span class="navy">John</span> Novak</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
            </div>
        </div>
        
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-sm-3 wow fadeInRight">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar2.jpg') %>" class="img-responsive img-circle img-small" alt="">
                <h4><span class="navy">구매팀장</span> 어용우 (외식경영학과 11)</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p> 
            </div>
        </div>
        <div class="col-sm-3 wow fadeInRight">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar2.jpg') %>" class="img-responsive img-circle img-small" alt="">
                <h4><span class="navy">Peter</span> Johnson</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p> 
            </div>
        </div>
        <div class="col-sm-3 wow fadeInRight">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar2.jpg') %>" class="img-responsive img-circle img-small" alt="">
                <h4><span class="navy">Peter</span> Johnson</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p> 
            </div>
        </div>
        <div class="col-sm-3 wow fadeInRight">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar2.jpg') %>" class="img-responsive img-circle img-small" alt="">
                <h4><span class="navy">Peter</span> Johnson</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
    </div>
</div>
</section>

<section id="timeline" class="timeline">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>늘품의 역사</h1>
            <p>늘품의 변화는 현재 진행형입니다 </p>
        </div>
    </div>
    <div class="row features-block">

        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Meeting</h2>
                        <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                        </p>
                        <a href="#" class="btn btn-xs btn-primary"> More info</a>
                        <span class="vertical-date"> Today <br/> <small>Dec 24</small> </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-file-text"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Decision</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        <!-- <a href="#" class="btn btn-xs btn-primary"> More info</a> -->
                        <span class="vertical-date"> Tomorrow <br/> <small>Dec 26</small> </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-cogs"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>늘품 시작</h2>
                        <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                        <!-- <a href="#" class="btn btn-xs btn-primary"> More info</a> -->
                        <span class="vertical-date"> 오픈 <br/> <small>2006년 2월</small> </span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</section>
<!-- 고객의 소리 section -->

<!-- <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>
                What our users say
            </h1>
            <div class="testimonials-text">
                <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
            </div>
            <small>
                <strong>12.02.2014 - Andy Smith</strong>
            </small>
        </div>
    </div>
</div>

</section> -->

<!-- 고객의 소리 section2 -->
<!-- <section class="comments gray-section" style="margin-top: 0">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>What our partners say</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-4">
            <div class="bubble">
                "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Andrew Williams
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble">
                "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar1.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Andrew Williams
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble">
                "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar2.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Andrew Williams
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>



    </div>
</div>

</section> -->

<!-- 특징설명 section -->
<!-- <section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>More and more extra great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <i class="fa fa-bar-chart big-icon pull-right"></i>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <i class="fa fa-bolt big-icon pull-right"></i>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <i class="fa fa-clock-o big-icon pull-right"></i>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <i class="fa fa-users big-icon pull-right"></i>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
    </div>
</div>

</section> -->

<!-- 가격정보 section-->
<!-- <section id="pricing" class="pricing">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>App Pricing</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Basic
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li class="pricing-price">
                    <span>$16</span> / month
                </li>
                <li>
                    Dashboards
                </li>
                <li>
                    Projects view
                </li>
                <li>
                    Contacts
                </li>
                <li>
                    Calendar
                </li>
                <li>
                    AngularJs
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled selected">
                <li class="pricing-title">
                    Standard
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li class="pricing-price">
                    <span>$22</span> / month
                </li>
                <li>
                    Dashboards
                </li>
                <li>
                    Projects view
                </li>
                <li>
                    Contacts
                </li>
                <li>
                    Calendar
                </li>
                <li>
                    AngularJs
                </li>
                <li>
                    <strong>Support platform</strong>
                </li>
                <li class="plan-action">
                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Premium
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li class="pricing-price">
                    <span>$160</span> / month
                </li>
                <li>
                    Dashboards
                </li>
                <li>
                    Projects view
                </li>
                <li>
                    Contacts
                </li>
                <li>
                    Calendar
                </li>
                <li>
                    AngularJs
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
            <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>  have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
    </div>
</div>

</section> -->

<section id="contact" class="gray-section contact">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contact Us</h1>
            <p>늘품과 함께 성장하시고 싶은 분에게 언제나 열려있습니다. 지원해주세요!!</p>
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-lg-4 col-lg-offset-4" style="text-align: center;">
            <address>
                <strong><span class="navy">Contact Info.</span></strong><br/>
                서울특별시 동대문구 회기동<br/>
                경희대학교 호텔관광대학 지하 1층 고황레스토랑<br/>
                <abbr title="Phone">Phone : </abbr> 010-1111-1111
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="mailto:test@email.com" class="btn btn-info">늘품 지원하기</a>
            <a href="mailto:test@email.com" class="btn btn-warning">늘품 회원가입</a>
            <p class="m-t-sm">
                페이스북을 팔로우하시면 늘품의 다양한 이벤트 소식을 접할 수 있습니다
            </p>
            <ul class="list-inline social-icon">
                <li><a href="https://www.facebook.com/cafenp/"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2015 Neoulpum</strong><br/> All Page content is property of Neoulpum</p>
        </div>
    </div>
</div>
</section>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
        $("#navbar").collapse('hide');
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();


});

$(function() {

    $(".bar_dashboard").peity("bar", {
        fill: ["#1ab394", "#d7d7d7"],
        width: 100
    })

    var lineData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "Example dataset",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40]
            },
            {
                label: "Example dataset",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.7)",
                pointColor: "rgba(26,179,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: [28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };

    var lineOptions = {
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        bezierCurve: true,
        bezierCurveTension: 0.4,
        pointDot: true,
        pointDotRadius: 4,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        responsive: true,
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

});

</script>

<% end %>
