<body class="mini-navbar">
<% if @pre_money.nil? || @pre_money.pre_money == 0 %>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-md-offset-2 col-md-8" style="margin-top:100px">
            <div class="widget red-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-warning fa-4x"></i>
                    <h1 class="m-xs"><strong>오픈을 먼저 해주세요</strong></h1>
                    <a href="/orders/order_open" class="btn btn-lg btn-warning" style="width:80%; margin-top: 20px">오픈하러가기</a>
                </div>
            </div>
        </div>
    </div>
<% else %>
<body class="mini-navbar">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <!-- 음료내역 -->
    <div class="col-md-9">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#coffee">커피</a></li>
                <li class=""><a data-toggle="tab" href="#tea">차</a></li>
                <li class=""><a data-toggle="tab" href="#drink">음료</a></li>
                <li class=""><a data-toggle="tab" href="#t_coffee">커피(T)</a></li>
                <li class=""><a data-toggle="tab" href="#t_tea">차(T)</a></li>
                <li class=""><a data-toggle="tab" href="#t_drink">음료(T)</a></li>
                <li class=""><a data-toggle="tab" href="#promo">프로모션</a></li>
                <li class=""><a data-toggle="tab" href="#etc">기타추가</a></li>
            </ul>
            <div class="tab-content">
                <div id="coffee" class="tab-pane active">
                    <div class="panel-body">
                        <h3 class="col-md-12">HOT 음료</h3>
                            <% @coffee_menus.where('menu_size = ? AND menu_degree = ?', 1, '1').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-danger dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom: 0px">
                                    </button>
                                </div>
                            <% end %>
                            
                        <h3 class="col-md-12">ICE 음료</h3>
                            <% @coffee_menus.where('menu_size = ? AND menu_degree = ?', 1, '2').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-info dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                    </div>
                </div>
                <div id="tea" class="tab-pane">
                    <div class="panel-body">
                        <h3 class="col-md-12">HOT 음료</h3>
                            <% @tea_menus.where('menu_size = ? AND menu_degree = ?', 1, '1').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-danger dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                            
                        <h3 class="col-md-12">ICE 음료</h3>
                             <% @tea_menus.where('menu_size = ? AND menu_degree = ?', 1, '2').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-info dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                    </div>
                </div>
                <div id="drink" class="tab-pane">
                    <div class="panel-body">
                        <h3 class="col-md-12">HOT 음료</h3>
                            <% @drink_menus.where('menu_size = ? AND menu_degree = ?', 1, '1').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-danger dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                            
                        <h3 class="col-md-12">ICE 음료</h3>
                            <% @drink_menus.where('menu_size = ? AND menu_degree = ?', 1, '2').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-info dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                    </div>
                </div>
                <div id="t_coffee" class="tab-pane">
                    <div class="panel-body">
                        <h3 class="col-md-12">HOT 음료</h3>
                            <% @coffee_menus.where('menu_size = ? AND menu_degree = ?', 2, '1').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-danger dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom: 0px">
                                    </button>
                                </div>
                            <% end %>
                            
                        <h3 class="col-md-12">ICE 음료</h3>
                            <% @coffee_menus.where('menu_size = ? AND menu_degree = ?', 2, '2').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-info dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                    </div>
                </div>
                <div id="t_tea" class="tab-pane">
                    <div class="panel-body">
                        <h3 class="col-md-12">HOT 음료</h3>
                            <% @tea_menus.where('menu_size = ? AND menu_degree = ?', 2, '1').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-danger dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                            
                        <h3 class="col-md-12">ICE 음료</h3>
                             <% @tea_menus.where('menu_size = ? AND menu_degree = ?', 2, '2').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-info dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                    </div>
                </div>
                <div id="t_drink" class="tab-pane">
                    <div class="panel-body">
                        <h3 class="col-md-12">HOT 음료</h3>
                            <% @drink_menus.where('menu_size = ? AND menu_degree = ?', 2, '1').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-danger dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                            
                        <h3 class="col-md-12">ICE 음료</h3>
                            <% @drink_menus.where('menu_size = ? AND menu_degree = ?', 2, '2').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-info dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                    </div>
                </div>
                <div id="promo" class="tab-pane">
                    <div class="panel-body">
                        <h3 class="col-md-12">HOT 음료</h3>
                            <% @promo_menus.where('menu_degree = ?', '1').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-danger dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                            
                        <h3 class="col-md-12">ICE 음료</h3>
                            <% @promo_menus.where('menu_degree = ?', '2').each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-info dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                    </div>
                </div>
                <div id="etc" class="tab-pane">
                    <div class="panel-body">
                        <h3 class="col-md-12">기타</h3>
                            <% @etc_menus.each do |menu| %>
                                <% menu.menu_degree == '1' ? degree = 'H' : degree = 'I' %>
                                <div class="col-md-3">
                                    <button class="btn btn-danger dim btn-large-dim btn-menu" data-price="<%= menu.menu_price %>" data-menu="<%= menu.id %>" data-title="<%= degree %>. <%= menu.menu_title %>" data-size="<%= menu.menu_size %>" type="button" style="width:100%; font-size:20px">
                                        <p style="text-align:left; font-size:15px"><%= degree %>. <%= menu.menu_title %></p>
                                        <p style="font-size:15px; text-align:right; margin-bottom:-10px"><%= menu.menu_price %> 원</p> 
                                        <hr style="margin-bottom:0px">
                                    </button>
                                </div>
                            <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 정산 -->
    <div class="col-md-3">
        <form class="form-horizontal" id="order" action="/orders/order_create" method="GET">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>유저찾기</h5>
                </div>
                <div class="ibox-content user-info">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div>
                            <label class="col-lg-4 control-label" style="text-align:left;">고객번호</label>
                            <div class="col-lg-6" style="padding-right: 0px;">
                                <input type="text" id="find_user" style="padding-left:5px; padding-right:5px; text-align:right; font-size: 15px" class="form-control">
                            </div>
                            <div class="col-lg-2" style="padding-left: 0px;">
                                <button class="btn btn-info find-user" type="button"><i class="fa fa-search" style="font-size:8px"></i></button>
                            </div>
                        </div>
                    </div> 
                    <!-- <hr> -->
                </div>

                <div class="ibox-title">
                    <h5>음료주문내역</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div>
                            <label class="col-lg-7 control-label" style="text-align:left; font-size:15px">주문번호</label>
                            <div class="col-lg-4">
                                <input type="number" style="padding-left:5px; padding-right:5px; text-align:right; font-size: 15px" class="form-control order-number" name="order_number" required="">
                            </div>
                            <div class="col-lg-1" style="text-align:left; font-size: 20px; margin-top: 4px; margin-left: -15px">
                                번
                            </div>
                        </div>
                    </div>               
                    <hr>
                    <!-- 포스 input 추가 시작 -->
                    <div class="append-menu">
                    </div>
                    <!-- 포스 input 끝 -->

                    <hr>
                    <span>Total</span>
                    <div class="add-new-price">
                        
                    </div>  
                    <h2 id="total_price" style="text-align:right" class="font-bold">
                        0 원
                    </h2>
                    <hr>
                    <div>
                        <div class="form-group" style="margin-bottom: 0px;">
                            <div class="col-lg-2">
                                <input type="checkbox" style="padding-left:5px; padding-right:5px; text-align:right; font-size: 15px" class="form-control" name="tumbler">
                            </div>
                            <label class="col-lg-10 control-label" style="text-align:left; font-size:15px">텀블러 적립금 추가</label>
                        </div>
                    </div>          
                    <div class="m-t-sm">
                        <button class="btn btn-lg btn-primary btn-block btn-order"><i class="fa fa-shopping-cart" type="submit"></i> 주문완료</button>
                        <a href="#" class="btn btn-white btn-sm btn-block btn-cancel"> 취소</a>
                    </div>   
                </div>
            </div>
        </form>
        <form class="form-horizontal" id="cashbuy" action="/accounts/cashbuy_create" method="GET">
            <div class="ibox-title">
                    <h5>현금사용액</h5>
            </div>  
            <div class="ibox-content" style="padding-bottom: 3px">
                <div class="form-group" style="margin-bottom: 10px;">
                    <label class="col-lg-4 control-label" style="text-align:left;">사용내역</label>
                    <div class="col-lg-8" style="padding-right: 0px;">
                        <input type="text" name="cash_buy_content" style="padding-left:5px; padding-right:5px; text-align:right;" class="form-control" placeholder = "ex) 택배비, 퀵비 등" required="">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                    <label class="col-lg-4 control-label" style="text-align:left;">사용액</label>
                    <div class="col-lg-8" style="padding-right: 0px;">
                        <input type="number" name="cash_buy" style="padding-left:5px; padding-right:5px; text-align:right;" class="form-control" required="">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-xs btn-primary btn-block btn-usecash">확인
                </div>

                <!-- <hr> -->
            </div>
        </form>
    </div>
</div>

</div>

<% end %>
</body>




<% content_for :javascript do %>

<script type="text/javascript">  


var menu_array = [];
var use_point = 0;

function is_in_menu(){
    if ($('.append-menu').children().length == 0){
        $('.btn-order').attr('disabled',true);
    } else {
        $('.btn-order').attr('disabled',false);
    }
};

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function append_menu(menu_arr){
    var total_price = 0;
    $(".append-menu").children().remove();
    $.grep(menu_arr, function(value){
        var tall = "";
        if(value.size == 2) {
            tall = "(T)";
        }
        $(".append-menu").append(
            '<div class="form-group">' +
            '<div>' +
                '<div class="col-lg-2">' +
                    '<button class="btn btn-warning btn-circle menu-delete" type="button">' +
                        '<i class="fa fa-minus"></i>' +
                    '</button>' +
                '</div>' +
                '<input type="number" value="'+ value.id +'" readonly="readonly" style="display:none" name="menu_id[]">' +
                '<label class="col-lg-6 control-label" style="text-align:left; font-size:15px">'+ value.name + tall + '</label>' +
                '<div class="col-lg-3">' +
                    '<input type="number" style="padding-left:5px; padding-right:5px; text-align:right; font-size: 15px" class="form-control" readonly="readonly" value="'+ value.unit +'" name="order_unit[]">' +
                '</div>' +
                '<div class="col-lg-1" style="text-align:left; font-size: 18px; margin-top: 4px; margin-left: -15px">' +
                    '개' +
                '</div>' +
            '</div>' +
            '</div>'
        ); 
        total_price += value.price * value.unit;
    });
    return total_price;
    // $("#total_price").text(total_price);
};

function add_new_price(){
    var price = append_menu(menu_array);
    var discount_price = price - use_point;
    $(".add-new-price").children().remove();
    $(".add-new-price").append(
        '<h3 style="text-align:right" class="font-bold">' +
            numberWithCommas( price )+ '원' +
        '</h3>' +
        '<h4 style="text-align:right"> - ' +
            numberWithCommas( use_point )+
        '</h4>' +
        '<hr>' 
        );
    $("#total_price").text(numberWithCommas(discount_price) + ' 원');
};

$(function(){
    is_in_menu();
    // $("body").addClass("mini-navbar");
    
    // 메뉴 클릭시 내역에 뜨도록 하는 구문
    $('.btn-menu').click(function(){
        var index = $('.btn-menu').index(this);
        var price = $('.btn-menu')[index].getAttribute('data-price');
        var number = $('.btn-menu')[index].getAttribute('data-menu');
        var name = $('.btn-menu')[index].getAttribute('data-title');
        var size = $('.btn-menu')[index].getAttribute('data-size');

        var id_arr = [];
        var menu = {};
            menu.id = number;
            menu.name = name;
            menu.price = price;
            menu.size = size;
            menu.unit = 1;

        var result = $.grep(menu_array, function(value){
            id_arr.push(value.id);
            return value.id == menu.id;
        });

        if (result.length == 0) {
            menu_array.push(menu);
        } else {
            var index_menu = $.inArray(menu.id, id_arr);
            menu_array[index_menu].unit += 1;
        };
        var price = append_menu(menu_array);
        $("#total_price").text(numberWithCommas(price) + ' 원');
        if (use_point != 0) {
            add_new_price();
        }
        is_in_menu();
    });

    // 삭제버튼 클릭 시
    $(document).on('click', '.menu-delete', function(){
        var index = $('.menu-delete').index(this);
        console.log(index);
        var menu_id = $('.menu-delete').parent().next()[index].getAttribute('value');
        var find_menu = $.grep(menu_array, function(value){
            return value.id == menu_id
        });
        if (find_menu[0].unit == 1 ) {
            menu_array.splice($.inArray(find_menu[0], menu_array),1);
        } else {
            find_menu[0].unit -= 1;
        };
        var price = append_menu(menu_array);
        $("#total_price").text(numberWithCommas(price) + ' 원');
        if (use_point != 0) {
            add_new_price();
        }
        is_in_menu();
    });

    $('.btn-cancel').click(function(){
        menu_array = [];
        var price = append_menu(menu_array);
        $("#total_price").text(numberWithCommas(price) + ' 원');
        is_in_menu();
    });

    $('.find-user').click(function(){
        $.ajax({
            data: {
                user_number: $('#find_user').val()
            },
            url: "/orders/find_user",
            success: function(data){
                $(".user-info hr").remove();
                $(".user-point").remove();
                if (data.employee != null){
                    $(".user-info").append(
                        '<hr>' +
                        '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px">'+
                            '<input type="text" id="user_point" name = "user_id" style="display:none" value="'+ data.users.id +'">'+
                            '<input type="number" name = "use_point" style="display:none" value="'+ use_point +'">'+
                            '<strong>' + data.users.user_name +' | </strong> 적립금 : '+ numberWithCommas(parseInt(data.users.user_money)) + '원'+
                            '<button aria-hidden="true" class="btn btn-xs btn-warning btn-point" style="float:right; margin-top: -1px;" type="button">사용</button>'+
                        '</div>' +
                        '<div class="alert alert-success user-point" style="padding-right:15px">기존 늘품지기 입니다. ( ' + data.employee.cardinal_number + '기 ' + data.employee.employee_name + ' )</div>'
                    );    
                } else {
                    $(".user-info").append(
                        '<hr>' +
                        '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px">'+
                            '<input type="text" id="user_point" name = "user_id" style="display:none" value="'+ data.users.id +'">'+
                            '<input type="number" name = "use_point" style="display:none" value="'+ use_point +'">'+
                            '<p><strong>등급 : '+ data.users.user_rate +'</strong>  (최소 0 ~ 최대 3)</p>' +
                            '<strong>' + data.users.user_name +' | </strong> 적립금 : '+ numberWithCommas(parseInt(data.users.user_money)) + '원'+
                            '<button aria-hidden="true" class="btn btn-xs btn-warning btn-point" style="float:right; margin-top: -1px;" type="button">사용</button>'+
                        '</div>'+
                        '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px;">'+
                        '<strong> 현금적립 / 쿠폰전환 </strong>' +
                        '<button aria-hidden="true" class="btn btn-xs btn-warning btn-coupon" style="float:right; margin-top: -1px;" type="button">쿠폰전환</button>'+
                        '<button aria-hidden="true" class="btn btn-xs btn-primary btn-prepoint" style="float:right; margin-top: -1px;" type="button">현금적립</button>'+
                        '</div>'
                    );
                };        
            }
        });
    });

    $(document).on('click', '.btn-point', function(){
        swal({  title: "적립금",
                text: "사용할 적립금을 입력하세요 (1000원 이상부터, 100원 단위 사용 가능)",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "사용할 적립금 입력" },
                function(inputValue){
                    if (inputValue === false)
                        return false;
                    if (inputValue === "") {
                        swal.showInputError("사용할 금액을 입력해주세요!");
                        return false
                    }
                    //AJAX 추가
                    $.ajax({
                        data: {
                            user_id: $("#user_point").val(),
                            user_point: inputValue
                        },
                        url: "/orders/user_point",
                        success: function(data){
                            use_point += parseInt(inputValue);
                            $(".user-point").remove();
                            $(".user-info").append(
                                '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px">'+
                                    '<input type="text" id="user_point" name = "user_id" style="display:none" value="'+ data.id +'">'+
                                    '<input type="number" name = "use_point" style="display:none" value="'+ use_point +'">'+
                                    '<p><strong>등급 : '+ data.user_rate +'</strong>  (최소 0 ~ 최대 3)</p>' +
                                    '<strong>' + data.user_name +' | </strong> 적립금 : '+ numberWithCommas(data.user_money) + '원'+
                                    '<button aria-hidden="true" class="btn btn-xs btn-warning btn-point" style="float:right; margin-top: -1px;" type="button">사용</button>'+
                                '</div>'+
                                '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px;">'+
                                '<strong> 현금적립 / 쿠폰전환 </strong>' +
                                '<button aria-hidden="true" class="btn btn-xs btn-warning btn-coupon" style="float:right; margin-top: -1px;" type="button">쿠폰전환</button>'+
                                '<button aria-hidden="true" class="btn btn-xs btn-primary btn-prepoint" style="float:right; margin-top: -1px;" type="button">현금적립</button>'+
                                '</div>'
                            );
                            var price = append_menu(menu_array),
                                discount_price = price - use_point;
                            add_new_price();
                            $("#total_price").text(numberWithCommas(discount_price) + ' 원');
                        }
                    });
                    swal("적립금을 사용하였습니다", numberWithCommas( inputValue )+ "원 사용", "success");
                });
    });

    // 선입금 적립
    $(document).on('click', '.btn-prepoint', function(){
        swal({  title: "선입금(현금) 적립",
                text: "적립할 액수를 입력하세요",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "적립할 액수 입력" },
                function(inputValue){
                    if (inputValue === false)
                        return false;
                    if (inputValue === "") {
                        swal.showInputError("적립할 금액을 입력해주세요!");
                        return false
                    }
                    //AJAX 추가
                    $.ajax({
                        data: {
                            user_id: $("#user_point").val(),
                            user_point: inputValue
                        },
                        url: "/orders/user_prepoint",
                        success: function(data){
                            use_point += parseInt(inputValue);
                            $(".user-point").remove();
                            $(".user-info").append(
                                '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px">'+
                                    '<input type="text" id="user_point" name = "user_id" style="display:none" value="'+ data.id +'">'+
                                    '<p><strong>등급 : '+ data.user_rate +'</strong>  (최소 0 ~ 최대 3)</p>' +
                                    '<input type="number" name = "use_point" style="display:none" value="'+ use_point +'">'+
                                    '<strong>' + data.user_name +' | </strong> 적립금 : '+ numberWithCommas(data.user_money) + '원'+
                                    '<button aria-hidden="true" class="btn btn-xs btn-warning btn-point" style="float:right; margin-top: -1px;" type="button">사용</button>'+
                                '</div>'+
                                '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px;">'+
                                '<strong> 현금적립 / 쿠폰전환 </strong>' +
                                '<button aria-hidden="true" class="btn btn-xs btn-warning btn-coupon" style="float:right; margin-top: -1px;" type="button">쿠폰전환</button>'+
                                '<button aria-hidden="true" class="btn btn-xs btn-primary btn-prepoint" style="float:right; margin-top: -1px;" type="button">현금적립</button>'+
                                '</div>'
                            );
                        }
                    });
                    swal("적립 되었습니다", numberWithCommas( inputValue )+ "원 적립", "success");
                });
    });

    // 쿠폰전환
    $(document).on('click', '.btn-coupon', function(){
        swal({  title: "쿠폰-적립금 전환",
                text: "전환할 액수를 입력하세요(쿠폰 1개당 200원)",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "전환할 액수 입력" },
                function(inputValue){
                    if (inputValue === false)
                        return false;
                    if (inputValue === "") {
                        swal.showInputError("전환할 금액을 입력해주세요!");
                        return false
                    }
                    //AJAX 추가
                    $.ajax({
                        data: {
                            user_id: $("#user_point").val(),
                            user_point: inputValue
                        },
                        url: "/orders/user_coupon",
                        success: function(data){
                            use_point += parseInt(inputValue);
                            $(".user-point").remove();
                            $(".user-info").append(
                                '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px">'+
                                    '<input type="text" id="user_point" name = "user_id" style="display:none" value="'+ data.id +'">'+
                                    '<p><strong>등급 : '+ data.user_rate +'</strong>  (최소 0 ~ 최대 3)</p>' +
                                    '<input type="number" name = "use_point" style="display:none" value="'+ use_point +'">'+
                                    '<strong>' + data.user_name +' | </strong> 적립금 : '+ numberWithCommas(data.user_money) + '원'+
                                    '<button aria-hidden="true" class="btn btn-xs btn-warning btn-point" style="float:right; margin-top: -1px;" type="button">사용</button>'+
                                '</div>'+
                                '<div class="alert alert-warning alert-dismissable user-point" style="padding-right:15px;">'+
                                '<strong> 현금적립 / 쿠폰전환 </strong>' +
                                '<button aria-hidden="true" class="btn btn-xs btn-warning btn-coupon" style="float:right; margin-top: -1px;" type="button">쿠폰전환</button>'+
                                '<button aria-hidden="true" class="btn btn-xs btn-primary btn-prepoint" style="float:right; margin-top: -1px;" type="button">현금적립</button>'+
                                '</div>'
                            );
                        }
                    });
                    swal("전환 되었습니다", numberWithCommas( inputValue )+ "원 전환", "success");
                });
    });

    // $(".btn-usecash").click(function(){
    //     $("#cashbuy").submit();
    // });

    // $(".btn-order").click(function(){
    //     $("#order").submit();
    // });

    $(".btn-order").click(function(){
        var button = $(this).ladda(),
            order_number = $(".order-number").val();
        button.ladda('start');
        if (order_number == "") {
            if ($(".user-point").length == 1){
                $("#order").submit();    
            } else {
                button.ladda('stop');
                alert("주문번호를 입력해주세요");
            }
        } else {
            $("#order").submit();    
        }
    });

});


</script>

<% end %>
