<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>데이터Set</h2>
      <ol class="breadcrumb">
          <li>	
              <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
	        </li>
	        <li>
	            <a>Data</a>
	        </li>
	        <li class="active">
	            <strong>Dataset</strong>
	        </li>
	    </ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>	
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 매출외 수입 내역 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>주문내역</h5>
                </div>
                <div class="ibox-content">      
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>detail_id</th>
                                <th>menu_id</th>
                                <th>order_id</th>
                                <th>order_unit</th>
                                <th>created_at</th>
                            </tr>
                        </thead>
                        <tbody>
                                <!-- each문 작성 -->
                            <% @details.each do |detail| %>   
                                <tr class="gradeC">
                                    <td style="text-align: center;"><%= detail.id %></td>
                                    <td style="text-align: center;"><%= detail.menu_id %></td>
                                    <td style="text-align: center;"><%= detail.order_id %></td>
                                    <td style="text-align: right;"><%= detail.order_unit %></td>
                                    <td style="text-align: right;"><%= detail.created_at %></td>
                                </tr>
                            <% end %>
                                <!-- 끝 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.dataTables-example').DataTable({
    	order: [0,'desc'],
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy'},
            {extend: 'csv'},
            {extend: 'print',
                customize: function (win){
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                }
            }
        ]
    });

});

</script>

<% end %>