<div class="wrapper wrapper-content animated fadeInRight">

<!-- 날짜선택창 -->
<div class="row">
    <form action="/materials/check_edit" method="GET">
        <div class="col-lg-10" id="data_1" style="margin-bottom:10px">
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="date" value="<%= Date.today.strftime("%m/%d/%Y") %>">
            </div>
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-block btn-outline btn-primary">재고 수정하기</button>
        </div>
    </form>
</div>    

<!-- 재고현황판 -->
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>재고현황</h5>

                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table id="store_table" class="footable table table-stripped toggle-arrow-tiny" data-page-size="50">
                    <thead>
                    <tr>
                        <th data-toggle="true">재료명</th>
                        <th data-toggle="true">담당지기</th>
                        <th data-toggle="true">발주현황</th>
                        <th>구매시점</th>
                        <% 0.upto(6) do |n| %>
                            <% if (Date.today - n).saturday? || (Date.today - n).sunday? %>
                            <% else %>  
                                <th><%= (Date.today-n).to_formatted_s %></th>
                            <% end %>  
                        <% end %>
                        <th data-hide="all">거래처</th>
                        <th data-hide="all">연락처</th>
                        <th data-hide="all">구매갯수</th>
                        <th data-hide="all">가격</th>
                        <th data-hide="all">배송일수</th>
                        <th data-hide="all">주문 바로가기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @materials.each do |material| %>
                        <tr>
                            <td><%= material.material_name %></td>
                            <td><%= material.employee.nil? ? '미정' : material.employee.employee_name  %></td>
                            <td data-order="<%= material.is_order %>">
                                <% if material.is_order %>
                                    <a href="/materials/is_order/<%= material.id %>" class="btn btn-xs btn-rounded btn-primary">발주완료</a><small> ( 구매일 : <%= material.updated_at.to_date %> )</small>
                                <% else %>
                                    <a href="/materials/is_order/<%= material.id %>" class="btn btn-xs btn-rounded btn-warning">배송확인</a><small> ( 도착일 : <%= material.updated_at.to_date %> )</small>
                                <% end %>
                            </td>
                            <td><%= material.material_limit %></td>
                            <% 0.upto(6) do |n| %>
                                <% if (Date.today - n).saturday? || (Date.today - n).sunday? %>
                                <% else %>
                                    <% data = Storage.where('storage_date = ? AND material_id = ?', (Date.today-n).to_formatted_s, material.id).take %>
                                    <% unless data.nil? %>
                                        <td><%= data.storage_unit %></td>
                                    <% else %>
                                        <td> 0 </td>
                                    <% end %>
                                <% end %>
                            <% end %>
                            <td><%= material.material_buyer %></td>
                            <td><%= material.material_url %></td>
                            <td><%= material.material_unit %> 개</td>
                            <td><%= material.material_price %> 원</td>
                            <td><%= material.material_shipping %> 일</td>
                            <td><a class="btn btn-xs btn-success btn-rounded" href="<%= material.material_url %>" target="_blank">주문하러가기</a></td>
                        </tr>
                    <% end %>    
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.footable').footable();

    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $('tbody tr').each(function() {
        var store_unit = parseFloat($(this).find("td").eq(3).html()),
            limit = parseFloat($(this).find("td").eq(4).html()),
            is_order = $(this).find("td").eq(2).attr('data-order');

        if (limit == 0){
            limit = parseFloat($(this).find("td").eq(5).html())
        }

        if (is_order == 'false'){
            if (store_unit >= limit) {
                $(this).css('background-color', "rgba(255,0,0,0.2)")
            }
        }
    });  
});

</script>

<% end %>