<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Neoulpum</strong>
                            </span> <span class="text-muted text-xs block">사장 <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Profile</a>
                        </li>
                        <li><a href="">Contacts</a>
                        </li>
                        <li><a href="">Mailbox</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="<%= is_active_controller('dashboards') %>">
                <a href=""><i class="fa fa-area-chart"></i> <span class="nav-label">현황판</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards') %>">
                    <li class="<%= is_active_action('dashboard_1') %>"><%= link_to "Dashboard v.1", root_path %></li>
                    <li class="<%= is_active_action('dashboard_2') %>"><%= link_to "Dashboard v.2", dashboards_dashboard_2_path %></li>
                    <li class="<%= is_active_action('dashboard_3') %>"><%= link_to "Dashboard v.3", dashboards_dashboard_3_path %></li>
                    <li class="<%= is_active_action('dashboard_4_1') %>"><%= link_to "Dashboard v.4", dashboards_dashboard_4_1_path %></li>
                    <li class="<%= is_active_action('dashboard_5') %>"><%= link_to "Dashboard v.5", dashboards_dashboard_5_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('orders') %>">
                <a href=""><i class="fa fa-desktop"></i> <span class="nav-label">주문현황</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('orders') %>">
                    <li class="<%= is_active_action('order_open') %>"><%= link_to "오픈준비", orders_order_open_path %></li>
                    <li class="<%= is_active_action('order_index') %>"><%= link_to "주문화면", orders_order_index_path %></li>
                    <li class="<%= is_active_action('order_manage') %>"><%= link_to "주문현황", orders_order_manage_path %></li>
                    <li class="<%= is_active_action('order_list') %>"><%= link_to "주문정보", orders_order_list_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('menus') %>">
                <a href=""><i class="fa fa-coffee"></i> <span class="nav-label">메뉴관리</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('menus') %>">
                    <li class="<%= is_active_action('index') %>"><%= link_to "메뉴관리", menus_index_path %></li>
                    <li class="<%= is_active_action('new') %>"><%= link_to "메뉴등록", menus_new_path %></li>
                    <li class="<%= is_active_action('recipe_new') %>"><%= link_to "레시피등록", menus_recipe_new_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('users') %>">
                <%= link_to users_index_path do %>
                <i class="fa fa-users"></i> <span class="nav-label">고객관리</span>
                <!-- <span class="label label-primary pull-right">NEW</span> -->
                <% end %>
            </li>
            <li class="<%= is_active_controller('materials') %>">
                <a href=""><i class="fa fa-shopping-cart"></i> <span class="nav-label">구매관리</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('materials') %>">
                    <li class="<%= is_active_action('check_index') %>"><%= link_to "재고확인", materials_check_index_path %></li>
                    <li class="<%= is_active_action('check') %>"><%= link_to "재고체크", materials_check_path %></li>
                    <li class="<%= is_active_action('index') %>"><%= link_to "재료확인", materials_index_path %></li>
                    <li class="<%= is_active_action('new') %>"><%= link_to "재료등록", materials_new_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('accounts') %>">
                <a href=""><i class="fa fa-dollar"></i> <span class="nav-label">회계관리</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('accounts') %>">
                    <li class="<%= is_active_action('account_new') %>"><%= link_to "일간정산", accounts_account_new_path %></li>
                    <li class="<%= is_active_action('account_index') %>"><%= link_to "정산내역", accounts_account_index_path %></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>